body {
    margin: 0;
    padding: 50px 50px 0 50px;
    background-color: #1F2937;
    color: #D5D4D8;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;    
}
span {
    color: #4ADF86;
}
h2 {
    font-size: 20px;
    font-weight: 400;
    color:  #D5D4D8;
    margin-bottom: 50px;
}
input {
    padding: 7px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #55F991;
    margin-bottom: 15px;
    color: #fff
}
input:focus {
    border: none;
    color: #fff;
}
.checkbox {
    background-color: #10B981;
}
button {
    color: #fff;
    background-color: #10B981;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    margin-bottom: 35px;
}
button:hover {
    background-color: #55F991;
}
/*form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}*/
.line {
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
}
.passwords {
    display: flex;
    justify-content: space-around;    
}
.passwords__item {
    flex: 1 1 50%;
    background-color: #273549;
    padding: 10px 15px;
    border-radius: 6px;
    color: #55F991;
    margin-right: 10px;
}
